@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* This file is for your main application CSS */
.gradient-blur {
    -webkit-mask-image: linear-gradient(to bottom, black 5%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 5%, transparent 100%);
}

.btn {
    @apply px-4 py-2 rounded-lg uppercase font-bold text-sm text-white flex items-center enabled:hover:brightness-105 transition-all disabled:bg-zinc-400;
}

.btn-primary {
    @apply btn bg-amber-500;
}

.btn-danger {
    @apply btn bg-red-500;
}

.monaco-editor {
    position: absolute !important;
}
